UPLOAD_IMAGE=upload_image_repository:tag
S3_HOST=example.s3.host
S3_BUCKET=mybucketname
S3_ACCESS_KEY=myaccesskey
S3_SECRET_KEY=mysecretkey
IMAGEPROC_RUNNER_IMAGE=imageproc_runner_repository:tag
RABBITMQ_USER=myrabbitmquser
IMAGEPROC_IMAGE=imageproc_repository:tag
PROVENANCEDB_IMAGE=provenance_repository:tag
COUCHDB_USER=mycouchdbuser
COUCHDB_PASSWORD=mycouchdbpassword
COUCHDB_DB=mycouchdbdb
