# service and pub/sub component images

UPLOAD_IMAGE=myregistry/image-upload:latest
IMAGEPROC_RUNNER_IMAGE=myregistry/imageproc-runner:latest
IMAGEPROC_IMAGE=myregistry/imageproc:latest
PROVENANCEDB_IMAGE=myregistry/provenance-db:latest

# data storage
S3_URL=http://my.s3.host
S3_ACCESS_KEY=FOOBAR
S3_SECRET_KEY=BAZQUUX

S3_INPUT_BUCKET=amplify-poc-input 
S3_OUTPUT_BUCKET=amplify-poc-output

# messaging
RABBITMQ_USER=myrabbitmquser
RABBITMQ_PASSWORD=myrabbitmqpassword

# metadata storage
COUCHDB_USER=mycouchdbuser
COUCHDB_PASSWORD=mycouchdbpassword
COUCHDB_DB=mycouchdbdb
